name: pre-commit

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  unit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Setup pre-commit
        uses: pre-commit/action@v3.0.1
