name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  unit:
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Setup Odin
        uses: laytan/setup-odin@v2

      - name: Run Tests
        run: odin test .
